.row
  .col-sm-2
    %strong Superheros
  .col-sm-2
    %strong Real Name
  .col-sm-2
    %strong Base of Operations
  .col-sm-2
    %strong # of Sidekicks
  .col-sm-4
    Operations
=render @heros
.row.pull-right
  = link_to 'New Hero', new_hero_path
